<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="img/icon.ico">
		<link rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
		<title>UNO Online</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/model.js" charset="utf-8"></script>
	</head>
	<body>
		<main id="uno">
			<div v-if="show == 'play' || show == 'create'">
				<form @submit.prevent="chooseUsername()">
					<input class="input" type="text" placeholder="Enter your name" v-model="username">
					<input class="button" type="submit" :value="showInput"></input>
				</form>
			</div>
			<div v-else-if="show == 'waiting'">
				<p><button class="button" @click="startGame()" :disabled="!isMaster || users.length < 2">Start</button></p>
				<ul><li v-for="(user, i) in users">{{user.name}}<span v-if="i == 0"> - Master</span></li></ul>
				<a :href="roomURL">{{roomURL}}</a>
			</div>
			<div id="table" v-else-if="show == 'playing'">
				<h1>Players</h1>
				<table id="hands">
					<tr v-for="(player, i) in game.round.players">
						<td>
							<h3>{{player.name}}</h3>
							<span v-for="card in player.hand">
								<img class="card" :class="{ playing: isPlayable('playing', i), playable: isPlayable(card, i) }" :src="cardData(player, card).src" :alt="cardData(player, card).alt" @click="if (isPlayable(card, i)) { game.play(card); shareGame(); }">
							</span>
						</td>
					</tr>
				</table>
				<span v-if="game.round.switchcolor && game.players[game.round.turn]._id == user._id">Choose a color : <button class="button" v-for="color in colors" @click="game.round.chooseColor(color); shareGame()">{{color}}</button></span>
				<h2>Discard pile</h2>
				<img id="discard-top" class="card" :src="'img/cards/'+game.round.deck.discardtop.type+'_'+game.round.deck.discardtop.color+'_'+game.round.deck.discardtop.value+'.png'" :alt="game.round.deck.discardtop.type+' - '+game.round.deck.discardtop.value+' - '+game.round.deck.discardtop.color">
				<h2>Deck</h2>
				<!-- v-if="!game.round.switchcolor && game.players[game.round.turn]._id == user._id" -->
				<div>
					<button class="button" v-if="game.round.drawed" @click="game.round.addTurn(); game.round.drawed = false; shareGame()">End turn</button>
					<img id="discard-pile" class="card" :class="{ playing: isPlayable('discardpile', null), playable: isPlayable('discardpile', null) }" src="img/cards/back.png" alt="UNO Card" v-if="game.round.drawtwo == 0" @click="drawCard()">
					<button class="button" v-else @click="game.round.drawTwoCards(); shareGame()"><img class="card" src="img/cards/back.png" alt="UNO Card"> x{{game.round.drawtwo}}</button>
				</div>
			</div>
			<div v-if="show == 'waiting' || show == 'playing'">
				<div id="scoreboard">
					<h1>Scoreboard</h1>
					<div class="scoreboard-box">
						<ul v-if="show == 'playing'">
							<li v-for="(player, i) in game.players">{{player.name}} | {{game.scores[i]}}</li>
						</ul>
					</div>
				</div>
				<div id="chat">
					<h1>Chat</h1>
					<div class="messages">
						<ul class="unordered-list">
							<li class="list" :class="{ debug: msg.debug }" v-for="msg in chat"><span :style="{ fontWeight: msg.weight }">{{msg.username}}</span>{{msg.message}}</li>
						</ul>
					</div>
					<form class="chat-form" @submit.prevent="sendMessage()"><input class="chat-input" type="text" placeholder="Chat here" v-model="message"></input><input class="button chat-button" type="submit" value="Send"></input></form>
				</div>
			</div>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
		<script src="js/vue.js" charset="utf-8"></script>
		<script src="js/client.js" charset="utf-8"></script>
	</body>
</html>
