<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="img/icon.ico">
		<link rel="stylesheet" href="css/style.css">
		<title>UNO Online</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/model.js" charset="utf-8"></script>
	</head>
	<body>
		<main id="game">
			<input v-if="show == 'play' || show == 'create'" id="username" class="input" type="text" placeholder="Enter your name" v-model="username">
			<div v-if="show == 'play' || show == 'create'">
				<div v-if="show == 'play'">
					<p><button @click="joinRoom();">Play</button></p>
				</div>
				<div v-else>
					<p><button @click="createRoom();">Create room</button></p>
				</div>
			</div>
			<div v-else-if="show == 'waiting'">
				<p><button @click="startGame()" :disabled="!isMaster || this.selectedCursor != 'auto'" :style="{cursor: selectedCursor}">Start</button></p>
				<ul><li v-for="(user, i) in users">{{user.name}}<span v-if="i == 0"> - Master</span></li></ul>
				<a :href="roomURL">{{roomURL}}</a>
			</div>
			<div v-else-if="show == 'playing'">
				<h1>Players</h1>
				<table>
					<tr>
						<td v-for="(player, i) in game.round.players">
							<h3>{{player.name}}</h3>
							<ol class="players-cards">
								<li v-for="card in player.hand">
									<!-- <span v-if="player._id == user._id"><img class="card" :src="'img/cards/'+card.type+'_'+card.color+'_'+card.value+'.png'" :alt="card.type+' - '+card.value+' - '+card.color"><button v-if="game.round.allowedCard(card) && game.round.turn == i && !game.round.switchcolor" @click="game.play(card); shareGame()">Play this card</button></span> -->
									<span v-if="player._id == user._id"><img class="card owner" :class="{ playable: isPlayable(card, i) }" :src="'img/cards/'+card.type+'_'+card.color+'_'+card.value+'.png'" :alt="card.type+' - '+card.value+' - '+card.color" @click="if (isPlayable(card, i)) { game.play(card); shareGame(); }"></span>
									<span v-else><img class="card" src="img/cards/back.png" alt="UNO Card"></span>
								</li>
							</ol>
						</td>
					</tr>
				</table>
				<span v-if="game.round.switchcolor && game.players[game.round.turn]._id == user._id">Choose a color : <button v-for="color in colors" @click="game.round.chooseColor(color); shareGame()">{{color}}</button></span>
				<h2>Discard pile</h2>
				<img class="card" :src="'img/cards/'+game.round.deck.discardtop.type+'_'+game.round.deck.discardtop.color+'_'+game.round.deck.discardtop.value+'.png'" :alt="game.round.deck.discardtop.type+' - '+game.round.deck.discardtop.value+' - '+game.round.deck.discardtop.color">
				<h2>Deck</h2>
				<div v-if="!game.round.switchcolor && game.players[game.round.turn]._id == user._id">
					<button v-if="game.round.drawed" @click="game.round.addTurn(); game.round.drawed = false; shareGame()">End turn</button>
					<img class="card owner playable" src="img/cards/back.png" alt="UNO Card" v-if="game.round.drawtwo == 0" @click="game.round.drawCard(); game.round.drawed = true; shareGame()">
					<button v-else @click="game.round.drawTwoCards(); shareGame()"><img class="card" src="img/cards/back.png" alt="UNO Card"> x{{game.round.drawtwo}}</button>
				</div>
			</div>
			<div v-if="show == 'waiting' || show == 'playing'">
				<div id="scoreboard">
					<h1>Scoreboard</h1>
					<div class="scoreboard-box">
						<ul v-if="show == 'playing'">
							<li v-for="(player, i) in game.players">{{player.name}} | {{game.scores[i]}}</li>
						</ul>
					</div>
				</div>
				<div id="chat">
					<h1>Chat</h1>
					<div class="messages">
						<ul class="unordered-list">
							<li class="list" :class="{ debug: msg.debug }" :style="{ fontWeight: msg.weight }" v-for="msg in chat">{{msg.message}}</li>
						</ul>
					</div>
					<form class="chat-form" @submit.prevent="sendMessage()"><input class="chat-input" type=text placeholder="Chat here" v-model="message"></input><input class="chat-button" type="submit" value="Send"></input></form>
				</div>
			</div>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
		<script src="js/vue.js" charset="utf-8"></script>
		<script src="js/client.js" charset="utf-8"></script>
	</body>
</html>
