html, body {
	font-family: 'Marmelad', sans-serif;
}

#uno {
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#uno li {
	list-style-type: none;
}

/* Chat */
#chat {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	display: grid;
	grid-template-rows: 80px auto 50px;
	background-color: #EEE;
}

.chat-form {
	position: fixed;
    bottom: 0;
    right: 0;
	margin: auto;
	width: 20%;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

.chat-input {
	border: 0;
	padding: 10px;
	width: 100%;
	outline: 0;
	margin-right: 10px;
	border-radius: 5px;
	background: #ccc;
}

.chat-button {
	width: 30%;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.chat-form .chat-button:hover {
	background-color: #3A996B;
}

.messages {
	margin: 0 10px;
	overflow: auto;
}

.unordered-list {
	padding: 5px;
}

.messages .list {
    padding: 5px;
	overflow: auto;
}

.messages .debug {
    color: #AAA;
	font-style: italic;
}

h1 {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}


/* Scoreboard */
#scoreboard {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #EEE;
	overflow-x: hidden;
}

.scoreboard-box {
	display: table;
	margin: 0 auto;
}

.scoreboard-box .scoreboard-list {
	text-align: right;
	padding: 0;
}

.scoreboard-box .scoreboard-list li {
	padding: 5px 0;
}

.card {
	position: relative;
	margin: auto;
	height: 128px;
	transition: 0.1s;
}

.card.playing:hover {
  transform: scale(1.1);
  filter: grayscale(95%);
}

.card.playing.playable:hover {
  filter: none;
}

.button {
	font-family: 'Marmelad';
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 20px;
	color: #FFDE16;
	background-color: #ED1C24;
	border: none;
	border-radius: 30px;
	cursor: auto;
	transition: 0.2s;
}

.button:hover, .button:disabled {
	color: #FFE032;
	background-color: #CC1821;
}

.button:disabled {
	cursor: not-allowed;
	filter: grayscale(50%);
}

#table {
	margin: auto 21%;
}

#hands {
}

#hand {

}

#discard-pile {
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -64px 0 0 -41px;
}

#discard-top {

}
