<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="../res/icon.ico">
		<title>UNO Online</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../js/model.js" charset="utf-8"></script>
	</head>
	<body>
		<main id="game">
			<div v-if="game != null">
				<label for="sorter">Sorter: <input id="sorter" type="text" v-model="sorter"></label>
				<h2>Players</h2>
				<table>
					<tr>
						<td v-for="(player, index) in game.round.players">
							<h3>{{player.name}} | {{game.scores[index]}}</h3>
							<ol>
								<li v-for="card in player.hand" v-if="card.value == sorter || card.color == sorter || card.type == sorter || sorter == 'all'">{{card.type}} - {{card.value}} - {{card.color}} <button v-if="game.round.allowedCard(card) && game.round.turn == index && !game.round.switchcolor" @click="game.play(card)">Play this card</button></li>
							</ol>
						</td>
					</tr>
				</table>
				<span v-if="game.round.switchcolor">Choose a color : <button v-for="color in colors" @click="game.round.chooseColor(color)">{{color}}</button></span>
				<h2>Discard pile</h2>
				{{game.round.deck.discardtop.type}} - {{game.round.deck.discardtop.value}} - {{game.round.deck.discardtop.color}}
				<h2>Deck</h2>
				<div v-if="!game.round.switchcolor">
					<button v-if="game.round.drawed" @click="game.round.addTurn(); game.round.drawed = false;">End turn</button>
					<button v-if="game.round.drawtwo == 0" @click="game.round.drawCard(); game.round.drawed = true;">Draw a card</button>
					<button v-else @click="game.round.drawTwoCards()">Draw {{game.round.drawtwo}} cards</button>
				</div>
			</div>
			<div v-else>
				Waiting for more players...
			</div>
		</main>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../js/game-vue.js" charset="utf-8"></script>
		<script src="../js/game-client.js" charset="utf-8"></script>
	</body>
</html>
